.summary:before,
.summary:after {
  content: " ";
  display: table; }

.summary:after {
  clear: both; }

::-moz-selection {
  background-color: rgba(56, 103, 143, 0.6);
  text-shadow: none;
  color: #fff; }

::selection {
  background-color: rgba(56, 103, 143, 0.6);
  text-shadow: none;
  color: #fff; }

html {
  margin: 0; }

body {
  margin: 0;
  font: 15px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000; }

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 0.4em 2em; }

a {
  color: #000;
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.2em 0.4em;
  background-color: #4682b4;
  background-color: rgba(70, 130, 180, 0.5);
  text-align: center; }

header {
  padding: 1em 0; }

h1 {
  margin: 0;
  font-weight: 700;
  font-style: italic;
  font-size: 5em;
  padding: .1em;
  font-family: 'Lobster Two', cursive;
  position: relative; }
  h1 span {
    position: absolute;
    bottom: -.2em;
    left: 1em;
    font-size: 0.3466666666666667em;
    color: #4682b4; }
  h1 span + span {
    left: 13em; }

.contact {
  list-style: none;
  float: right; }
  .contact img {
    vertical-align: bottom; }

[data-pre]:before {
  content: attr(data-pre); }

[data-post]:after {
  content: attr(data-post); }

h2 {
  margin: 1em 0 0;
  font-size: 1.2em;
  font-weight: 700;
  text-transform: uppercase; }

h3 {
  margin: 0;
  font-size: 1em;
  font-weight: 700;
  color: #4682b4; }

p {
  margin: 0;
  padding-bottom: 1em; }
  p:last-child {
    padding-bottom: 0; }
  p.h2 {
    margin-top: 1em; }

section {
  padding-top: 1em; }

ul {
  margin: 0;
  padding: 0; }

.skills {
  overflow: hidden; }
  .skills div {
    width: 33.33333%;
    float: left; }
  .skills ul {
    list-style: none; }

.experience li {
  color: #4682b4; }
  .experience li span {
    color: #444; }

.icon {
  width: 1em;
  text-align: center;
  font-style: normal;
  white-space: nowrap; }
  .icon:before {
    text-align: center;
    color: #4682b4; }

@media screen and (max-width: 600px) {
  h1 {
    font-size: 3.6em; }
  .contact {
    float: none; } }

@media screen and (max-width: 500px) {
  h1 {
    font-size: 3em; } }
