@charset "UTF-8";

$scrollbar-width: 8px;
$primary-color: darken(#4682b4, 5%); // steelblue
$text-color: #333;
$link-color: $text-color;
$background-color: #f5f5f5;

$a4-width: 21cm;
$a4-height: 29.7cm;

$font-family: 'Roboto, "Open Sans", "Helvetica Neue", sans-serif';

@import "webfonts";

.fa-linkedin,
.fa-linkedin-in {
  color: #0077b5;
}

@import "scrollbar";

::selection {
  background-color: rgba(darken($primary-color, 10%), .6);
  text-shadow: none;
  color: #fff;
}

*, *:after, *:before {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;

  width: calc(100vw - #{$scrollbar-width});
  height: calc(100vh - #{$scrollbar-width});

  overflow: auto;

  font: normal normal 400 12pt/1.2 $font-family;
  color: $text-color;

  @media screen and (min-width: $a4-width) {
    width: auto;
    height: auto;

    background-color: rgb(204, 204, 204);
  }

  @media screen and (min-width: $a4-width + 2cm) {
    padding: 1cm;
  }

  @media print {
    background-color: #fff;
    overflow: visible !important;
  }
}

page {
  box-sizing: border-box;
  display: block;
  padding: 1rem;

  // A4
  @media screen and (min-width: $a4-width) {
    margin: 0 auto;
    padding: 1cm;

    width: $a4-width;
    height: $a4-height;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  }

  background: #fff;

  @media print {
    margin: 0 !important;
    padding: 0 !important;
    box-shadow: none !important;
  }
}

header {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  margin-bottom: 1rem;

  background-color: #fff;

  color: $primary-color;

  box-decoration-break: clone;
  transition: all 250ms;
  will-change: margin, padding, color, background-color, box-shadow;

  @media (max-width: $a4-width) {
    .scrolled & {
      position: sticky;
      top: 0;
      margin-left: -1rem;
      margin-right: -1rem;
      padding-left: 1rem;
      padding-right: 1rem;

      color: #fff;
      background-color: $primary-color;
      box-shadow: 0 3px 10px -3px rgba(0, 0, 0, .5);
    }
  }
}

h1 {
  margin: .5rem 0;

  font-weight: 700;
  line-height: .8;
  font-size: 8vw;
  color: inherit;
  text-transform: uppercase;

  @media screen and (min-width: $a4-width) {
    font-size: 3rem;
  }
}

h2 {
  margin: .5rem 0 1rem;

  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1;
  text-transform: uppercase;
  color: $primary-color;
  border-bottom: 2px solid $primary-color;
}

h3 {
  margin: .5rem 0 .5rem;

  font-weight: 600;
  font-size: 1rem;
  line-height: .9;
}

//h1 {
//font-weight: 700;
//font-style: italic;
//font-family: 'Lobster Two', cursive;
//position: relative;
//span {
//    position: absolute;
//    bottom: -.2em;
//    left: 1em;
//    font-size: 0.3466666666666667em;
//    color: $brand-color;
//}
//span+span {
//    left: 13em;
//}
//}


//a {
//  color: $link-color;
//  text-decoration: none;
//
//  &:hover {
//    //text-decoration: none;
//  }
//}
//
section {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

ol {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: inline-flex;
    margin: .2rem .3rem .4rem;
    padding: .1rem .4rem;
    border-bottom: 1px dashed grayscale($primary-color);
  }
}

ul {
  margin: 0;
  padding-left: 1.5em;

  li {
    padding: .1rem 0;
    //    font-size: calc(1rem + (1px * var(--priority, 0)));
    //    font-weight: calc(400 + (5 * var(--priority, 0)));
  }
}

p {
  margin: 0;

  + p {
    margin-top: 1rem;
  }
}

article {
  + article {
    margin-top: 1rem;
  }
}

.sentinal {
  // DOM element for triggering the intersection observer event
  // you can use 'height' to determine when the event is triggered
  height: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
