@charset "UTF-8";

$primary-color: darken(#4682b4, 5%); // steelblue
$text-color: #333;
$link-color: $text-color;
$background-color: #f5f5f5;
$page-width-cap: 55rem;
$font-family: 'Roboto, "Open Sans", "Helvetica Neue", sans-serif';

@import "webfonts";

.fa-linkedin,
.fa-linkedin-in {
  color: #0077b5;
}

@import "scrollbar";

::selection {
  background-color: rgba(darken($primary-color, 10%), .6);
  text-shadow: none;
  color: #fff;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;

  background-color: rgb(204, 204, 204);

  font: normal normal 400 12pt/1.2 $font-family;
  color: $text-color;

  @media print {
    background-color: #fff;
  }
}

page {
  box-sizing: border-box;
  display: block;
  margin: 0.5cm auto 0;
  padding: 1cm;

  // A4
  width: 21cm;
  height: 29.7cm;
  &[layout="landscape"] {
    width: 29.7cm;
    height: 21cm;
  }

  background: #fff;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);

  overflow: auto;

  @media print {
    margin: 0 !important;
    padding: 0 !important;
    box-shadow: none !important;
    overflow: visible !important;
  }
}

//.page {
//    padding: 60px;
//    height: 1329px;
//    position: relative;
//    background-color: #fff;
//
//    page-break-after: always;
//}
//
//
//main {
//  position: relative;
//  display: flex;
//  flex-direction: column;
//  margin: 0 auto;
//  max-width: $page-width-cap;
//}
//
//nav {
//  position: sticky;
//  top: 0;
//
//  display: flex;
//  flex-direction: row-reverse;
//
//  z-index: 1;
//
//  ul {
//    display: flex;
//    padding: 0;
//    list-style: none;
//    text-align: right;
//    font-size: 1.5rem;
//    //background-color: #fff;
//  }
//
//  li {
//    display: inline-flex;
//    margin: 0;
//    padding: 0;
//
//  }
//
//  a {
//    padding: .3rem .4rem;
//  }
//}
//
header {
  //  position: sticky;
  //  top: 0;
  //
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;

  //  box-shadow: 0 3px 10px -3px rgba(0, 0, 0, .5);
  //  @media (min-width: $page-width-cap) {
  //    box-shadow: none;
  //  }
  //
}

h1 {
  margin: .5rem 0 2rem;

  font-weight: 700;
  line-height: .8;
  font-size: 2.6rem;
  color: $primary-color;
  text-transform: uppercase;
}

h2 {
  margin: .5rem 0 1rem;

  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1;
  text-transform: uppercase;
  color: $primary-color;
  border-bottom: 2px solid $primary-color;
}

h3 {
  margin: .5rem 0 .5rem;

  font-weight: 600;
  font-size: 1rem;
  line-height: .9;
}

//h1 {
//font-weight: 700;
//font-style: italic;
//font-family: 'Lobster Two', cursive;
//position: relative;
//span {
//    position: absolute;
//    bottom: -.2em;
//    left: 1em;
//    font-size: 0.3466666666666667em;
//    color: $brand-color;
//}
//span+span {
//    left: 13em;
//}
//}


//a {
//  color: $link-color;
//  text-decoration: none;
//
//  &:hover {
//    //text-decoration: none;
//  }
//}
//
section {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

ol {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: inline-flex;
    margin: .2rem .3rem .4rem;
    padding: .1rem .4rem;
    border-bottom: 1px dashed grayscale($primary-color);
  }
}

ul {
  margin: 0;
  padding-left: 1.5em;

  li {
    //margin: .2rem .3rem .4rem;
    padding: .1rem 0;
    //    font-size: calc(1rem + (1px * var(--priority, 0)));
    //    font-weight: calc(400 + (5 * var(--priority, 0)));
  }
}

p {
  margin: 0;

  + p {
    margin-top: 1rem;
  }
}

article {
  + article {
    margin-top: 1rem;
  }

}

//i + a,
//i + span {
//  padding-left: .5rem;
//}
//
////.contact {
////    list-style: none;
////    float: right;
////    img {
////        vertical-align: bottom;
////    }
////}
//
////p {
////    margin: 0;
////    padding-bottom: 1em;
////    &:last-child {
////        padding-bottom: 0;
////    }
////    &.h2 {
////        margin-top: 1em;
////    }
////}
////
//// Font Awesome
////@import 'fontawesome';
//// default icon color
////.icon {
////    width: 1em;
////    text-align: center;
////
////    font-style: normal;
////    white-space: nowrap;
////    &:before {
////        text-align: center;
////        color: $brand-color;
////    }
////}
//
////
////// fix header font size
////@media screen and (max-width: 600px) {
////    h1 {
////        font-size: 3.6em;
////    }
////    .contact {
////        float: none;
////    }
////}
////
////@media screen and (max-width: 500px) {
////    h1 {
////        font-size: 3em;
////    }
////}
