@charset "UTF-8";

$scrollbar-width: 8px;
$primary-color: #2079c7; // steelblue
$text-color: #333;
$link-color: $text-color;
$background-color: #f5f5f5;

$a4-width: 21cm;
$a4-height: 29.7cm;

$font-family: 'Roboto, RobotoDraft, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif';

@import "webfonts";

.fa-linkedin,
.fa-linkedin-in {
  color: #0077b5;
}

@import "scrollbar";

::selection {
  background-color: rgba(darken($primary-color, 10%), .6);
  text-shadow: none;
  color: #fff;
}

*, *:after, *:before {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;

  width: 100vw;
  height: 100vh;

  overflow: auto;

  font: normal normal 400 9pt/1.2 $font-family;
  color: $text-color;

  @media screen and (min-width: $a4-width) {
    width: auto;
    height: auto;

    background-color: rgb(204, 204, 204);
  }

  @media screen and (min-width: $a4-width + 2cm) {
    padding: 1cm;
  }

  @media print {
    background-color: #fff;
    overflow: visible !important;
  }
}

page {
  box-sizing: border-box;
  display: block;
  padding: 1rem;

  // A4
  @media screen and (min-width: $a4-width) {
    position: relative;
    margin: 0 auto;
    padding: 1cm;

    width: $a4-width;
    min-height: $a4-height;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  }

  background: #fff;

  @media print {
    margin: 0 !important;
    padding: 0 !important;
    box-shadow: none !important;
  }
}

header {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  margin-bottom: 1rem;

  background-color: #fff;

  color: #000;

  box-decoration-break: clone;
  transition: all 250ms;
  will-change: margin, padding, color, background-color, box-shadow;

  @media (max-width: $a4-width) {
    .scrolled & {
      position: sticky;
      top: 0;
      margin-left: -1rem;
      margin-right: -1rem;
      padding-left: 1rem;
      padding-right: 1rem;

      color: #fff;
      background-color: $primary-color;
      box-shadow: 0 3px 10px -3px rgba(0, 0, 0, .5);

      span {
        visibility: hidden;
      }
    }
  }
}

h1 {
  margin: .5rem 0;

  font-weight: 700;
  line-height: .8;
  font-size: 8vw;
  color: inherit;

  @media screen and (min-width: $a4-width) {
    font-size: 3.5rem;
  }
}

h2 {
  margin: .5rem 0 1rem;

  font-weight: 700;
  font-size: 1rem;
  line-height: 1;
  text-transform: uppercase;
  color: $primary-color;
}

h3 {
  margin: .5rem 0 .5rem;

  color: #000;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1;
}

//h1 {
//font-weight: 700;
//font-style: italic;
//font-family: 'Lobster Two', cursive;
//position: relative;
//span {
//    position: absolute;
//    bottom: -.2em;
//    left: 1em;
//    font-size: 0.3466666666666667em;
//    color: $brand-color;
//}
//span+span {
//    left: 13em;
//}
//}

section {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;

  color: lighten($text-color, 30%);
  font-size: 1rem;

  break-inside: avoid;
  page-break-inside: avoid;

}

ol {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: inline-flex;
    margin: .2rem .3rem .4rem;
    padding: .1rem .4rem;
    border-bottom: 1px solid lighten($text-color, 60%);
  }
}

ul {
  margin: 0;
  padding-left: 1em;

  color: lighten($text-color, 30%);

  li {
    padding: .1rem 0;
    //    font-size: calc(1rem + (1px * var(--priority, 0)));
    //    font-weight: calc(400 + (5 * var(--priority, 0)));
  }
}

p {
  margin: 0;

  + p {
    margin-top: 1rem;
  }
}

article {

  div {
    padding-bottom: .5rem;
  }

  small {
    color: lighten($text-color, 30%);
    font-weight: 400;
  }

  time {
    font-size: .8rem;
  }

  + article {
    margin-top: 1rem;
  }
}

.bookmarks {
  position: absolute;
  top: -6px;
  right: 1rem;

  // automatic drop shadow respecting clip-path on children
  filter: drop-shadow(-1px 1px 2px rgba(0, 0, 0, 0.5));

  a {
    display: inline-block;

    padding: 1rem 0 2rem;
    width: 3rem;
    text-align: center;

    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    white-space: nowrap;

    // corner shadow
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 100%;

      border-width: 3px 2px;
      border-style: solid;
      border-color: transparent rgba(0, 0, 0, .6) rgba(0, 0, 0, .6) transparent;
    }

    // clipped background
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      border-width: 0 1.5rem 1rem;
      border-style: solid;
      border-color: currentColor currentColor transparent currentColor;
      z-index: -1;
    }

    @media print {
      display: none;
    }

    i {
      font-size: 2rem;
      font-weight: 400;
      color: #fff;
    }
  }

  // brand color
  .linkedin {
    color: #0077b5;
  }
}

.sentinal {
  // DOM element for triggering the intersection observer event
  // you can use 'height' to determine when the event is triggered
  height: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
